<html ng-app="frontPageApp">
	<title>Title</title>
	<head>
		
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js'></script>
    	<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
		<script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    	<link rel='stylesheet' href='/resources/tutorial/css/example.css'/>

	</head>

	<body ng-app="frontPage">
	<h2>Enter your email and Bitcoin ID below:</h2>
	<div ng-controller='frontPageController'>


		<ul id="example-messages" class="example-chat-messages">
			<li ng-repeat="msg in messages">
				<strong class="example-chat-username">{{msg.from}}</strong>
				{{msg.body}}
			</li>

		</ul>
		<form method='POST'>

			<div>email: <input ng-model='email'></input></div>

			<div>BitcoinID: <input ng-model='bitcoinId'></input></div>

		</form>

	</div>


	</body>


</html>